@charset "utf-8";

body{
  margin: 0;
  padding: 0;
  background-color: #444444;
  color: #EEEEEE;
  font-size: 15xp;
  line-height: 2;
}

p,h1,h2,h3,h4,h5,h6{
  margin-top: 0;
}

img {
  vertical-align:bottom;
}

ul {
  margin: 0;
  padding: 0;
}

.logo{
  float: left;
  margin-top: 40px;
  margin-left: 40px;
}

.global-nav {
  float: right;
  margin-top: 60px;
}

.global-nav li {
  float: left;
  margin: 0 20px;
  font-size: 20px;
  list-style:  none;
}


.global-nav li a{
  color: #ffffff;
}

.global-nav li a:hover{
  border-bottom: 2px solid #ffffff;
  padding-bottom: 3px;
  text-decoration: none;
  }

#wrap{
  clear: both;
}

.content{
  width: 960px;
  margin: 0 auto;
}

footer{
  text-align: center;
  color: #ffffff;
  padding: 20px 0;
}

footer small{
  font-size: 12px;
}

#index h1{
  font-size: 100px;
  line-height: 1;
  color: #ffffff;
  font-family: 'bitter', serif;
  margin-bottom: 50px;
}


#index .content{
  margin-top: 150px;
}


.btn a{

  width:100px;
  font-size:20px;
  font-weight:bold;
  text-decoration:none;
  display:block;
  text-align:center;
  padding:8px 0 10px;
  background-image:-webkit-gradient(
    linear,left top,left bottom,from(#ffa035),to(#8635ff));
}


.btn a:hover{
  text-decoration: none;
  background-color: #ffffff;
  color: #ffa035;
}













#index footer{
  width: 960px;
  margin: 150px auto 0 auto;
  text-align: left;
}

#index {
  background-image: url(../images/home.jpg);
  background-repeat: no-no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;

}
